body {
  text-align: center;
  width: 100%;
}
h1 {
  font-size: 50px;
}

h4 {
  margin: 0px;
  margin-left: -20px;
}

button {
  font-size: 30px;
  margin: 20px;
}

.winSquare {
  background-color: green;
}

.winTitle {
  color: green;
}

.col-xs-4 {
  height: 150px;
  width: 150px;
}

.win-board {
  height: 50px;
}

.win-board h2 {
  margin: 0px;
}

#column11 {
  border: 5px solid black;
}

#column01 {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#column10 {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#column12 {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#column21 {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

p {
  font-size: 100px;
}

.row {
  width: 450px;
  margin: auto;
}

.gameContainer {
  margin: auto;
  height: 450px;
  width: 450px;
}

.win-board h2 {
  margin: auto;
  text-align: center;
}

h2{
  color: green;
  width: 400px;
  height: 100px;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  50% {font-size: 35px;}
}

/* Standard syntax */
@keyframes mymove {
  50% {font-size: 35px;}
}
